name: Deploy FE to Somee

on:
  push:
    branches: [ "main" ]
    paths:
      - "frontend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Upload FE to Somee via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.0
        with:
          server: ${{ secrets.FTP_FE_HOST }}
          username: ${{ secrets.FTP_FE_USER }}
          password: ${{ secrets.FTP_FE_PASS }}
          local-dir: frontend
          server-dir: /
